.center {
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
img {
    display: inline;
}

#signature {
    font-size: 30px;
    margin: 10px;
    padding: 10% 0 0 8%;

}

.button {
    color: gray;
}

#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
}
#parent-input {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }

#title {
    color: white;
}

.words {
    color: white;
}

.guess {
    display: inline;
    font-size: 60px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 25px;
    color: white;
}

#player-input {
    height: 160px;
    width: 160px;
    border-radius: 90px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 70px;
    border: 1px solid gray gray lightgray lightgray;
    background-color: transparent;
    
}

#submit {
    height: 60px;
    width: 60px;
    border-radius: 90px;
    margin-bottom: 30px;
    margin-right: 20px;
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: relative;
    border: 1px solid gray;
}

#input-parent {
    position: relative;
    width: 160px;
    margin: 5% auto 50px;
}

body {
    background-image: url('img/background.jpg');
}


#app {
    width: 60%;
    margin: 50px auto;
}
